*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
  height:1000px;
 width: 950px;
 background-color: silver;
 margin: 0px auto;
  clear:both
}
#header{
 height: 150px;
  width: 890px;
 background-color: green;
 margin: 15px;
  border:20px solid silver;
}
#navigation{
 height: 300px;
 width: 175px;
 background-color: blue;
  margin-left: 35px;
  float: left;
}
#main_content{
 height: 400px;
 width: 700px;
 background-color: red;
 margin-right: 15px;
  margin-left: 20px;
 float: left;
  display: inline;
}
.subcontents{
 height: 200px;
 width: 180px;
 background-color: yellow;
 margin: 5px;
  margin-top:10px;
  margin-left:15px;
 padding-right: 2px;
 float: left;
 display: block;
}
#advertisement{
 height: 120px;
 width: 590px;
 background-color: purple;
  display: block;
  margin-left: 15px;
  margin-top: 230px;
}
